.krish{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.hori {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.checked {
  color: #66BFBF;
}

.middle-container {
  margin: 100px 0;
}
.hh{
  background-color: #E4F9F5;
}
.skill-set {
  width: 25%;
  text-align: left;
}
.resume{
  height: 25%;
  width: 25%;
  margin-bottom: 50px;
  margin-top: 50px;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.pro {
  text-decoration: underline;
}

.certificates {
  width: 50%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  line-height: 4;
}

.programmer {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

.tables{
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 30px;
  text-align: left;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 3.25rem;
  color: #66BFBF;
}
#btnsc{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#66BFBF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border:none;
  color: #ffffff;
  outline: none;
  cursor: pointer;


}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
#btnsc:active{
  background-color: #A6DBC6
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.my-photo {
  width: 200px;
  height: 200px;
}



.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 40px;
}

.hand-img {
  width: 25%;
  float: left;
  margin-right: 40px;
}

.animate-img {
  width: 25%;
  float: right;
  margin-left: 40px;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 400px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 10px;
}
